/**Custom code**/
.front-banner {
    position: relative;
  }
  .front-banner:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -15px;
    right: -15px;
    top: 0;
    background: url("../img/frontpage/cityscape.svg") center bottom 15px no-repeat;
    background-size: 100% auto;
    pointer-events: none;
  }

  .footer-logo{
    width: 180px;
    height: 55px;
  }